IDS 561 HW 1.

In [211]:
import pandas as pnd
import re
import string
import array
import math
import numpy as nmp

In [212]:
note = open('temperatures.txt')
note1 = note.read()

In [213]:
# Data cleaning
def data_clean(ip0):
    ip1 = ip0.translate(str.maketrans('','',string.punctuation)) 
    return ip1

In [214]:
# Data splitting
def data_split(ip1):
    ip1_sub1=ip1[0:10214]
    ip1_sub2=ip1[10214:]
    return ip1_sub1,ip1_sub2

### Mapping:

In [215]:
def map_one(ip1_sub1):
    L1=ip1_sub1.split()
    i=0
    j=-1
    a = nmp.zeros((1000, 2))
    for i in range(0,2000):
        if(i%2==0):
            j=j+1
            a[j][0]=L1[i]
        else:
            a[j][1]=L1[i]
        

    for i in range(0,1000):
        x=(str(a[i][0])+" "+ str(a[i][1]))
    return a

In [216]:
def map_two(ip1_sub2):
    L2=ip1_sub2.split()
    i=0
    j=-1
    b = nmp.zeros((1000, 2))
    for i in range(0,2000):
        if(i%2==0):
            j=j+1
            b[j][0]=L2[i]
        else:
            b[j][1]=L2[i]
        

    for i in range(0,1000):
        y=(str(b[i][0])+" "+ str(b[i][1]))
    return b

In [217]:
def data_sort(a,b):
    c=nmp.concatenate((a,b),axis=0)
    data_f=pnd.DataFrame(c)
    data_f.columns=['Year','Temp']
    p=data_f.sort_values(by='Year')
    p['Year']=p['Year'].apply(nmp.int64)
    return p

In [218]:
def data_partion(par):
    par['Year']=par['Year']-par['Year']%100
    par['Year']=par['Year']/100
    par['Year']=par['Year'].apply(nmp.int64)
    par1=par[0:1099]
    par2=par[1099:]
    return par1,par2

### Reducing:

In [219]:
def red_one(rd1):
    op1=rd1.sort_values('Temp', ascending=False).drop_duplicates(['Year'])
    op_fin1=op1.sort_values(by='Year')
    return op_fin1

In [220]:
def red_two(rd2):
    op2=rd2.sort_values('Temp', ascending=False).drop_duplicates(['Year'])
    op_fin2=op2.sort_values(by='Year')
    return op_fin2

### Main function

In [221]:
def main():
    note = open('temperatures.txt')
    note1 = note.read()
    note2=data_clean(note1)
    note3,note4=data_split(note2)
    note5=map_one(note3)
    note6=map_two(note4)
    note7=data_sort(note5,note6)
    note8,note9=data_partion(note7)
    op_fin1=red_one(note8)
    op_fin2=red_two(note9)
    op_final=pnd.concat([op_fin1,op_fin2],axis=0)
    op_final.to_csv('561hw1answer.csv',index=False)
if __name__=="__main__":
    main()